<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Voltar" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Mudando as Cores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="contentBgColor" class="ion-padding">

  <h2>Ajuste os valores RGB</h2>

  <div class="range-container">
    <label>R: {{ r }}</label>
    <input type="range" min="0" max="255" [(ngModel)]="r">
  </div>

  <div class="range-container">
    <label>G: {{ g }}</label>
    <input type="range" min="0" max="255" [(ngModel)]="g">
  </div>

  <div class="range-container">
    <label>B: {{ b }}</label>
    <input type="range" min="0" max="255" [(ngModel)]="b">
  </div>

  <ion-button expand="block" (click)="mudarCorBotao()" [style.--background]="btnBgColor">
    Mudar a cor do botão
  </ion-button>

  <ion-button expand="block" color="dark" (click)="mudarCorFundo()">
    Mudar a cor da tela
  </ion-button>

</ion-content>