<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Avaliação Formadora II</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/minhafoto.jpg" alt="Minha Foto" />
    
    <ion-card-header>
      <ion-card-title>Evelyn Silva Sales</ion-card-title>
      <ion-card-subtitle class="subtitle-flex">
        <span>Turma: 25104121</span>
        <span>|</span>
        <span>Unidade: Bonsucesso</span>
        <span>|</span>
        <span>Turno: Manhã</span>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Palavra-chave:</strong>...</p>
      
      <ion-button 
        expand="block" 
        routerLink="/mudar-cor" 
        routerDirection="forward"
        class="ion-margin-top button">
        Segunda Tela
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>