#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-card {
  img {
    width: 100%;  
    height: 370px;     
    object-fit: cover; 
    object-position: center;
  }
}

ion-button{
  --background:#d12679;
  --color: #ffffff;
  --border-radius: 40px;
}

ion-toolbar{
  --background:#212121;
  --color: #ffffff;
  --text-align: top center;
}